<ng-template #walk25FeetSecondLevelTemplate>
  <div class="modal-header">
    <h4 class="modal-title">25' Walk Test</h4>
    <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
              <span aria-hidden="true">&times;</span>
          </button>
  </div>
  <div class="modal-body">
    <div class="edss-container">
      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-col"></div>
        <div class="ns-walk25Feet-value walkFontWeight">Secs</div>
      </div>

      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-col">25' Walk #1</div>
        <div class="ns-walk25Feet-value walkFontWeight"> {{walk25FeetScoreDetail.walk_1_score}}
        </div>
      </div>
      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-col">25' Walk #2</div>
        <div class="ns-walk25Feet-value walkFontWeight">{{walk25FeetScoreDetail.walk_2_score}}
        </div>
      </div>
      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-col">25' Walk Average</div>
        <div class="ns-walk25Feet-value walkFontWeight">
          {{walk25FeetScoreDetail.scoreValue}}
        </div>
      </div>

    </div>
  </div>
</ng-template>
<ng-template #walk25FeetEditSecondLevelTemplate>
  <div class="modal-header">
    <h4 class="modal-title">25' Walk Test</h4>
    <button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
                <span aria-hidden="true">&times;</span>
            </button>
  </div>
  <div class="modal-body">
    <div class="edss-container">
      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-col"></div>
        <div class="ns-walk25Feet-value walkFontWeight">Secs</div>
      </div>

      <div >
        <div class="ns-walk25Feet-col">25' Walk #1</div>
        <div class="ns-walk25Feet-value">
            <md-input-container  class="ns-input-container">
          <input mdInput class="ns-walk25Feet-value-bg" type="number" name="UpdateScore1" min="0" max="300" [(ngModel)]="walk25FeetScoreDetail.walk_1_score"  (change)="updateWalk('Update')"/>
            </md-input-container>
        </div>
      </div>
      <div >
        <div class="ns-walk25Feet-col">25' Walk #2</div>
        <div class="ns-walk25Feet-value">
            <md-input-container  class="ns-input-container">
          <input mdInput class="ns-walk25Feet-value-bg" type="number" name="UpdateScore2" min="0" max="300" [(ngModel)]="walk25FeetScoreDetail.walk_2_score" (change)="updateWalk('Update')"/>
        </md-input-container>
        </div>
      </div>
      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-col">25' Walk Average</div>
        <div class="ns-walk25Feet-value">
            <span name="UpdateScoreAvg" [(ngModel)]="walk25FeetScoreDetail.scoreValue" ngDefaultControl> {{walk25FeetScoreDetail.scoreValue}}</span>
         
        </div>
      </div>
      <div class="ns-row-walk25Feet" *ngIf="showUpdate == true">
        <div class="ns-walk25Feet-update">
          <button class="call-out-buttons" (click)="updateWalk25FeetScore('Update')">Update</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #walk25FeetAddSecondLevelTemplate>
  <div class="modal-header">
    <h4 class="modal-title">25' Walk Test</h4> <button type="button" class="btn-info-walk25Feet" (click)="walk25FeetInfo();"><span class="">i</span></button>
    <button type="button" class="close" aria-label="Close" (click)="Walk25FeetChartDialogRef.close()">
                <span aria-hidden="true">&times;</span>
            </button>
  </div>
  <div class="modal-body">
    <div class="edss-container">
      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-col"></div>
        <div class="ns-walk25Feet-value walkFontWeight">Secs</div>
      </div>

      <div >
        <div class="ns-walk25Feet-col">25' Walk #1</div>
        <div class="ns-walk25Feet-value">
            <md-input-container  class="ns-input-container">
          <input mdInput type="number" name="AddScore1" min="0" max="300" class="ns-walk25Feet-value-bg" [(ngModel)]="score_1" (change)="updateWalk('Add')"/>
          </md-input-container>
        </div>
      </div>
      <div >
        <div class="ns-walk25Feet-col">25' Walk #2</div>
        <div class="ns-walk25Feet-value">
            <md-input-container  class="ns-input-container">
          <input mdInput type="number" name="AddScore2"  min="0" max="300" class="ns-walk25Feet-value-bg" [(ngModel)]="score_2" (change)="updateWalk('Add')" />
            </md-input-container>
        </div>
      </div>
      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-col">25' Walk Average</div>
        <div class="ns-walk25Feet-value">
            <span name="AddScoreAvg"  [(ngModel)]="scoreValue" ngDefaultControl> {{scoreValue}}</span>
        </div>
      </div>
      <div class="ns-row-walk25Feet">
        <div class="ns-walk25Feet-update">
          <button class="call-out-buttons" (click)="updateWalk25FeetScore('Add')">Add</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #walk25FeetThirdLevelTemplate>
  <div class="modal-header">
    <h4 class="modal-title">{{walk25FeetDataInfo.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="reportDialogRef.close()">
                  <span aria-hidden="true">&times;</span>
              </button>
  </div>
  <div class="modal-body">
    <div class="edss-container">
      <div class="ns-row-walk25Feet" *ngFor="let walk25feet of walk25FeetDataInfo.info;">
        {{walk25feet}}
      </div>
    </div>
  </div>
</ng-template>