<ng-template #symptomSecondLevelTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Symptoms</h4>
    <button type="button" class="close" aria-symptomel="Close" (click)="dialogRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="symptoms-container">
      <div class="ns-symptoms-header">
        <div class="ns-symptoms-quesHeaderLeft">Questionnaire Status</div>
        <div class="ns-symptoms-quesHeader">Last Questionnaire Date</div>
      </div>
      <div class="ns-symptoms-header">
        <div class="ns-symptoms-quesHeaderLeft font-small">{{symptomsData.status}}</div>
        <div class="ns-symptoms-quesHeader font-small">{{symptomsData.questionnaireDate}} </div>
      </div>
      <div class="ns-symptoms-header">
        <div class="ns-symptoms-ordered">Patient Reported Symptoms</div>
        <div class="ns-symptoms-status">Status</div>
        <div class="ns-symptoms-trend">Trend</div>
        <div class="ns-symptoms-quest">Questionnaire</div>
      </div>
      <div class="ns-symptoms-items-container">
        <div class="ns-symptoms-row" *ngFor="let symp of symptomsData.symptoms;">
          <div class="ns-small-bar ns-symptoms-grey"></div>
          <div class="ns-order-symptoms-box">
            <span class="ns-symptoms-name">{{symp.name}}</span>
            <div class="ns-symptoms-reportDate">
              Reported {{symp.reportDate}}
            </div>
            <div class="ns-symptoms-type-grey" *ngIf="symp.symptomStatus=='Previous'">
              {{symp.symptomStatus}}
            </div>
            <div class="ns-symptoms-type-red" *ngIf="symp.symptomStatus=='New'">
              {{symp.symptomStatus}}
            </div>
          </div>
          <span class="ns-small-box-text">{{symp.score}}</span>
          <div class="ns-symptoms-trend-box" id="TrendLine_{{symp.qxid}}_{{symp.score}}_{{symp.name}}"></div>
          
          <div class="ns-symptoms-quest-unit">
            <button class="call-out-buttons" (click)="showThirdLayer(symp)">See Qx</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #symptomsThirdLevelTemplate>
  <div class="modal-header">
    <h4 class="modal-title">{{symptomsDataDetails.name}} - {{symptomsDataDetails.score}}</h4>
    <button type="button" class="close" aria-symptomel="Close" (click)="questDialogRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="symptoms-container">
      <div >
        <div class="ns-symptoms-row" *ngFor="let sympDetails of symptomsDataDetails.questData[0];">
          <div class="ns-symptoms-row">
            <span class="ns-symptoms-name-quest">{{sympDetails["qx_code"]}} {{sympDetails["qx_text"]}}</span>
          </div>
          <div class="ns-symptoms-row" *ngFor="let sympAns of sympDetails['answer_options'];">
            <span class="ns-symptoms-name-det" *ngIf="sympAns!=sympDetails['answer_text']">{{sympAns}}</span>
            <span class="ns-symptoms-name-red" *ngIf="sympAns==sympDetails['answer_text']">{{sympAns}}</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>